# Copyright (c) 2018 Madani Lainani.
# SPDX-License-Identifier: Apache-2.0

CONFIG_ARM=y
CONFIG_SOC_FAMILY_SAM=y
CONFIG_SOC_SERIES_SAM4L4=y
CONFIG_SOC_PART_NUMBER_SAM4LC4C=y
CONFIG_BOARD_ATSAM4L_XPRO=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_WATCHDOG=n
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_USART_SAM=y
