# Kconfig - Atmel SAM4L Xplained Pro configuration
#
# Copyright (c) 2018 Madani Lainani.
# SPDX-License-Identifier: Apache-2.0

if BOARD_ATSAM4L_XPRO

config BOARD
	default "atsam4l_xpro"

config ASF
	bool

endif # BOARD_ATSAM4L_XPRO
